li{ 
	list-style: none;
}

*{
	font-family: 'Montserrat', sans-serif;
}

//column mixin
@mixin column {
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;
		@content;
}

// blockquote placeholder  
%quote{
	  		  content: quote;
			  color: $subheadline;
			  font-size: 4rem;
			  position: absolute;
}

%buttons {
	width: 100%;
		background-color: $primaryButton;
		border-radius: .5rem;
		border: none;
		line-height: 4rem;
		margin-top: 1.5rem;
		text-transform: uppercase;
		color: $text;
		font-weight: 700;
		font-size: 1.4rem;
}

			// button mixins 

@mixin buttons{	
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		margin: .2rem 0;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;
	}


		
