//base styles for list items, a tags, body, p elements
li{ 
	list-style: none;
}
*{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
.container {
  width: 100%;
  padding-right: 15px ;
  padding-left: 15px ;
  margin-right: auto;
  margin-left: auto;
}
p {
	color: $subheadline;
	@media (min-width: $vp_small){ 
		line-height: 2.5rem;
		margin-bottom: .3rem;
	 }
	@media (min-width: $vp_large){
		line-height: 1.5rem;
		margin-top: -4rem;
		margin-bottom: 1rem;
	}
}

a {
	flex: 1;
	text-decoration: none;
	transition: color .2s ease-out;
	color: $subheadline;
	width: 100%;
	display: inline-block;
	&:hover{
		color: $text;
	}
	@media (min-width: $vp_large){
		padding: 0 1rem;
		font-size: $buttonSize;
		}
	}




		
