.blockquote:after, .blockquote:before {
  content: quote;
  color: grey;
  position: absolute;
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  width: 100%;
  background-color: deepskyblue;
  border-radius: 0.5rem;
  border: none;
  line-height: 4rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
}

p .link {
  display: inline;
  color: darkturquoise;
  text-decoration: none;
  font-weight: 900;
}

.img--frame {
  padding: 0.8rem;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-radius: 0.25rem;
  margin: 3rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.headline--primary {
  margin-left: 4rem;
  color: lightseagreen;
  font-weight: 900;
  text-align: left;
  margin-bottom: 5rem;
}

.headline--secondary {
  font-weight: 100;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
  color: grey;
  margin-top: 4rem;
}

.nav .nav__item {
  width: 100%;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-out;
}
.nav .nav__item:hover {
  background-color: lightseagreen;
}

.btn--success {
  background-color: lightgreen;
}

.btn--error {
  background-color: salmon;
}

.btn--warning {
  background-color: darkorange;
}

.btn--info {
  background-color: violet;
  margin-bottom: 3rem;
}

@media (min-width: 1280px) {
  .grid__col--12 {
    display: flex;
    width: 100%;
    flex: 1;
  }
  .grid__col--12 .btn--default,
.grid__col--12 .btn--success,
.grid__col--12 .btn--error,
.grid__col--12 .btn--warning,
.grid__col--12 .btn--info {
    margin: 2rem;
  }
}

@media (min-width: 1280px) {
  .grid__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.form__label--hidden {
  visibility: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form:last-child {
  margin-bottom: 5rem;
}
@media (min-width: 1280px) {
  .form {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .form > .img--avatar {
    margin-top: 3rem;
  }
}

.form__input {
  border: none;
  border-bottom: 0.2rem solid darkturquoise;
  width: 100%;
  line-height: 2rem;
}
.form__input::placeholder {
  color: grey;
  font-size: 1.2rem;
  padding-left: 1rem;
  font-weight: 800;
}

.grid__col--6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1280px) {
  .grid__col--4 {
    flex: 3;
  }
}

@media (min-width: 1280px) {
  .grid__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  line-height: 3.8rem;
  text-align: center;
  padding: 0;
}
@media (min-width: 480px) {
  .nav {
    margin-bottom: 10rem;
  }
}
@media (min-width: 1280px) {
  .nav {
    flex-direction: row;
    margin-right: 10rem;
  }
}

.blockquote {
  border-left: darkturquoise solid 0.5rem;
  margin: 3rem 1.5rem;
  padding: 0.8rem 1rem;
  font-style: italic;
  font-weight: 600;
  color: grey;
}
@media (min-width: 480px) {
  .blockquote {
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .blockquote {
    font-size: 1.5rem;
    margin-top: 2.3rem;
  }
}

.headline--secondary:nth-of-type(2) {
  margin: 3rem 0;
}
.headline--secondary:nth-of-type(3) {
  margin: 3rem 0;
}

.link {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 480px) {
  p {
    margin: 5rem 0;
  }
}

@media (min-width: 1280px) {
  .grid__col--8 {
    flex: 5;
    margin-top: 2rem;
    text-align: center;
  }
}

.grid__row:nth-of-type(6) {
  background-color: lightseagreen;
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  margin: 0 0 2rem;
}

.grid__row:nth-of-type(7) > .grid__col--6 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: steelblue;
  margin-bottom: 0.4rem;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(7) > .grid__col--6 {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(7) > .grid__col--6:nth-of-type(2) {
    margin-left: 2rem;
  }
}

.grid__row:nth-of-type(8) > .grid__col--4 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  background-color: deepskyblue;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(8) > .grid__col--4 {
    margin: 2rem 0;
    text-align: center;
  }
}
@media (min-width: 480px) {
  .grid__row:nth-of-type(8) > .grid__col--4:nth-of-type(1) {
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(8) > .grid__col--4:nth-of-type(2) {
    margin: 2rem 2rem;
  }
}
@media (min-width: 480px) {
  .grid__row:nth-of-type(8) > .grid__col--4:nth-of-type(3) {
    margin-bottom: 2rem;
  }
}

.grid__row:nth-of-type(9) > .grid__col--3 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: violet;
  margin-bottom: 0.4rem;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(9) > .grid__col--3 {
    text-align: center;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(2), .grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(3) {
    margin-right: 2rem;
  }
}
@media (min-width: 480px) {
  .grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(1) {
    margin-bottom: 0.4rem;
  }
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(1) {
    margin-top: 0;
    margin-right: 2rem;
  }
}

.grid__row:nth-of-type(10) > .grid__col--5 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: lightgreen;
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(10) > .grid__col--5 {
    margin-bottom: 0;
    text-align: center;
  }
}

.grid__row:nth-of-type(10) > .grid__col--7 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: salmon;
  margin-bottom: 2rem;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(10) > .grid__col--7 {
    margin-top: 2rem;
    margin-bottom: 0;
    width: 150%;
    margin-left: 2rem;
    text-align: center;
  }
}

.grid__row:nth-of-type(11) > .grid__col--8 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: darkorange;
  margin-bottom: 0.4rem;
}

.grid__row:nth-of-type(11) > .grid__col--4 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: deepskyblue;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(11) > .grid__col--4 {
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: center;
  }
}

.grid__row:nth-of-type(12) > .grid__col--7 {
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  font-weight: 500;
  font-color: grey;
  font-size: 1.2rem;
  background-color: salmon;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 1280px) {
  .grid__row:nth-of-type(12) > .grid__col--7 {
    width: 50%;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .grid__row:nth-of-type(6) > .grid__col--12 {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .grid__col--6 > .img--avatar {
    margin-top: 5rem;
    margin-right: 7rem;
  }
}

li {
  list-style: none;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

p {
  color: grey;
}
@media (min-width: 480px) {
  p {
    line-height: 2.5rem;
    margin-bottom: 0.3rem;
  }
}
@media (min-width: 1280px) {
  p {
    line-height: 1.5rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
  }
}

a {
  flex: 1;
  text-decoration: none;
  transition: color 0.2s ease-out;
  color: grey;
  width: 100%;
  display: inline-block;
}
a:hover {
  color: white;
}
@media (min-width: 1280px) {
  a {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=sass%20project%204.css.map */
