$inlineColor: darkturquoise;
$headlineColor: lightseagreen;
$subheadline: grey;
$primaryButton: deepskyblue;
$successColor: lightgreen;
$errorColor: salmon;
$warningColor: darkorange;
$infoColor: violet;
$borderColor: lighten($subheadline, 45%);
$text: white;
$columnSix: steelblue;

