$inlineColor: darkturquoise;
$headlineColor: lightseagreen;
$subheadline: grey;
$primaryButton: deepskyblue;
$successColor: lightgreen;
$errorColor: salmon;
$warningColor: darkorange;
$infoColor: violet;
$borderColor: lighten($subheadline, 45%);
$text: white;
$columnSix: steelblue;
$buttonSize: 1.2rem;
$navSize: 1.4rem;
$bodyFont:'Montserrat', sans-serif;
$vp_small:  480px ;  
$vp_large: 1280px;
