	.btn--default,
	.btn--success,
	.btn--error,
	.btn--warning,
	.btn--info
		{
			@extend %buttons;
		}

	.btn--success{
		background-color: $successColor;
	}
	.btn--error{
		background-color: $errorColor;
	}
	.btn--warning{
		background-color: $warningColor;
	}
	.btn--info{
		background-color: $infoColor;
		margin-bottom: 3rem;
	}

// form
	.form__label--hidden{
		visibility: hidden;
	}

	.form{
		display: flex;
		flex-direction: column;
		align-items: center;
			&:last-child{
			margin-bottom: 5rem;
		}
	}

	.form__input{
		border: none;
		border-bottom: .2rem solid $inlineColor;
		// height: 2rem;
		width: 100%;
		&::placeholder{
			color: $subheadline;
			font-size: 1.2rem;
			padding-left: 1rem;
			font-weight: 800;
		}
	}

	// blockquote
	.blockquote{
			border-left: $inlineColor solid .5rem;
			margin: 6rem 1.5rem ;
	    	padding: .8rem 1rem;
	    	font-style: italic;
	    	font-weight: 600;
	    	color: $subheadline;
    	&:before {
			@extend %quote;
		}
		&:after{
			@extend %quote;
		}
	}

// headlines
.headline--primary{
		margin-left: 2rem;
		color: $headlineColor;
		font-weight: 900;
	}

.headline--secondary{
		font-weight: 100;
		font-size: 1.4rem;
		width: 100%;
		text-align: left;
		color: $subheadline;
	}

//image / avitar 
.img--frame{
	  padding: 0.8rem;
      background-color:  $borderColor;
 	  border: 1px solid $borderColor;
 	  border-radius: 0.25rem;
 	  margin: 5rem;
 	  margin-bottom: 2.5rem;
 	  width: 100%;
	}

	.link{
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem;
	}

	.grid__col--6{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// navigation

	.nav{
		@include nav;
		a {
			flex: 1;
			text-decoration: none;
			transition: color .2s ease-out;
			color: $subheadline;
			width: 100%;
			// margin: .6rem 0;
			display: inline-block;
			&:hover{
				color: $text;
			}
		}
			li{
			width: 100%;
			border-radius: .5rem;
			transition: background-color  .2s ease-out;
			&:hover{
				background-color: $headlineColor;
			}
		}
	}

//paraphrahs and links

p {	
	color: $subheadline;
	line-height: 2.5rem;
	.link{
		display: inline;
		color: $inlineColor;
		text-decoration: none;
		font-weight: 900;
		}
	}

//long column 12 
		 .grid__row:nth-of-type(6){
		background-color: $headlineColor;
		@include column {
			 margin: 0 0 2rem;
		}
	}


// column 6
.grid__row:nth-of-type(7) >  .grid__col--6{
		background-color: $columnSix;
		@include column {
			margin-bottom: .4rem;
		}
	}

	//column 4
.grid__row:nth-of-type(8) >  .grid__col--4{
		background-color: $primaryButton;
		@include column {
			margin-bottom: .4rem;
		}
		
	}

.grid__row:nth-of-type(9) >  .grid__col--3{
		@include column
		{
			background-color: $infoColor;
		 	margin-bottom: .4rem;
		 }
	}

	.grid__row:nth-of-type(10) >  .grid__col--5{
		@include column 
		{
			background-color: $successColor;
			margin-top: 2rem;
			margin-bottom: .4rem;
		}
	}

	.grid__row:nth-of-type(10) >  .grid__col--7{
			@include column {
				background-color: $errorColor; 
				margin-bottom: 2rem;
			}
	}

		.grid__row:nth-of-type(11) >  .grid__col--8{
			@include column {
				background-color: $warningColor;
				margin-bottom: .4rem;
			}
		}

			.grid__row:nth-of-type(11) >  .grid__col--4{
		@include column {
				background-color: $primaryButton;
			} 
		}



		.grid__row:nth-of-type(12) >  .grid__col--7{
		@include column {
		background-color: $errorColor;
		margin-top: 2rem;
	}

		}



