//variables
@import "utilities/index";

//base styles
@import "base/index";

//components - butttons, form, images, blockquote.
@import "components/index";

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// change this media query to 480px before turning in !!!!!!!!!!!!!!!!!!!!!!
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


@media (min-width: 548px){
	.card:nth-of-type(1) > p:first-child {
		margin: 10rem 0;
	}
	
	.link{
		justify-content: center;
	}

	p {
		margin: 5rem 0;
	}

	.headline--secondary{
		&:nth-of-type(2){
			margin: 3rem 0;
		}
		&:nth-of-type(3){
			margin: 3rem 0;
		}
	}
	
	
		
	.grid__row:nth-of-type(8) >  .grid__col--4:nth-of-type(1){
			margin-top: 2rem;
	}


	
	.grid__row:nth-of-type(9) >  .grid__col--3:nth-of-type(1){
					margin-top: 2rem;

	}

	.grid__row:nth-of-type(10) >  .grid__col--5{
		background-color: $successColor;
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		margin: .2rem 0;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;

		// including margin in this one, make sure to make it a mixin after 
		margin-top: 2rem;
	}

		.grid__row:nth-of-type(10) >  .grid__col--7{
		background-color: $errorColor;
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		margin: .2rem 0;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;
			// including margin in this one, make sure to make it a mixin after 
		margin-bottom: 2rem;
	}
		.grid__row:nth-of-type(11) >  .grid__col--8{
		background-color: $warningColor;
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		margin: .2rem 0;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;
		}

		.grid__row:nth-of-type(11) >  .grid__col--4{
		background-color: $primaryButton;
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		margin: .2rem 0;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;
		}

		.grid__row:nth-of-type(12) >  .grid__col--7{
		background-color: $errorColor;
		display: inline-block;
		width: 100%;
		border-radius: .5rem;
		margin: .2rem 0;
		line-height: 3rem;
		padding-left: 2rem;
		font-weight: 500;
		font-color: $subheadline;
		font-size: 1.2rem;

		margin-top: 2rem;
		}

}

// MOBILE LAYOUT DONE

// next do media query for bigger screen and base styles
// CHANGE MEDIA QUERY WIDTH BEFORE TURNING In
@media (min-width: 1280px){
	.nav{
		flex-direction: row;
		flex: 1;
		padding-right: 10rem;
	}

	.grid__row{
	width: 100%;
    display: flex;
    justify-content: space-around;
	}

	.grid__col--3{
		flex: 1;
	}

	.grid__col--9{
		flex: 1;
	}

	.img--logo{
		float: left;
	}

	.link {
	   justify-content: flex-start;
	}

	.grid__col--4{
		flex: 3;
	}

	.grid__col--12{
		display: flex;
		width: 100%;
		flex: 1;
	}

	.btn--default,
	.btn--success,
	.btn--error,
	.btn--warning,
	.btn--info,{
		margin: 2rem ;
	}

	.grid__col--8{
		flex: 5;
	}

	.blockquote{
		font-size: 2rem;
		margin-top: 2.3rem;
	}

	p{
		margin-top: .3rem;
		margin-bottom: 0;
	}
	
	.grid__col--6{
		& > .img--avatar {
				margin-top: 5rem;
				margin-right: 7rem;
		 }
	}
	
	
	.form {
		& > .img--avatar{
				margin-top: 3rem;
			}
	}

	.card:nth-of-type(1) > p:first-child{
		margin: 5rem 0;
	}
	
	.img--frame{
		margin-top: 3.4;
	}
	
	.form{
		margin-left: 3rem;
	}

	.grid__row:nth-of-type(8) > .grid__col--4{
		margin: 2rem 0;
		text-align: center;

	}

	.grid__row:nth-of-type(8) > .grid__col--4:nth-of-type(2){
		margin: 2rem 2rem;
	}

	.grid__row:nth-of-type(9) > .grid__col--3 {
				margin: 0 0;
				margin-top: 0;
				text-align: center;

	}

	.grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(2){
		margin:  0 2rem;
		margin-right: 1rem;

	}

	.grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(3){
		margin:  0 2rem;
		margin-left: 1rem;

	}

	.grid__row:nth-of-type(10) > .grid__col--5{
		margin-bottom: 0;
		text-align: center;


	}

	.grid__row:nth-of-type(10) > .grid__col--7{
		margin-top: 2rem;
		margin-bottom: 0;
		width: 150%;
	    margin-left: 2rem;
		text-align: center;

	}

	.grid__row:nth-of-type(11) > .grid__col--8{
		margin-top: 2rem;
		text-align: center;

	}

	.grid__row:nth-of-type(11) > .grid__col--4{
			margin-top: 2rem;
			margin-left: 2rem;
			text-align: center;
	}

	.grid__row:nth-of-type(12) > .grid__col--7 {
		width: 50%;
		text-align: center;
	}

	.grid__row:nth-of-type(9) > .grid__col--3:nth-of-type(1){
		margin-top: 0;
	}

	.grid__row:nth-of-type(7) >  .grid__col--6{
		text-align: center;
	}

	.grid__row:nth-of-type(7) >  .grid__col--6:nth-of-type(2) {
		margin-left: 2rem;
	}

	.grid__row:nth-of-type(6) > .grid__col--12{
		display: flex;
  		justify-content: center;	
  	}

}












